.Todo {
  font-family: Inter, Arial, sans-serif;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  gap: 20px;
}

.Todo__label {
  display: flex;
  gap: 12px;
}

.Todo__completed {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #181818;
  border-radius: 4px;
  cursor: pointer;
}

.Todo__completed:checked {
  border: none;
  background-size: contain;
  background-image: url(../images/checkbox.svg);
}

.Todo__name {
  font-weight: 500;
  color: #181818;
  font-size: 20px;
  line-height: 1.2;

  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.Todo__date {
  font-weight: 400;
  color: #7d7d7d;
  font-size: 20px;
  line-height: 1.2;
  flex-shrink: 0;
}

.Todo__buttons {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: auto;
}

.Todo__delete-btn {
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  color: #f44;
  cursor: pointer;
}

.Todo__delete-btn::before {
  content: "Delete";
}

.Todo__delete-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .Todo__label {
    display: grid;
    grid-template-areas:
      "check name delete"
      "check date delete";
    gap: 4px 12px;
  }

  .Todo__completed {
    grid-area: check;
  }

  .Todo__name {
    grid-area: name;
    font-size: 16px;
  }

  .Todo__date {
    grid-area: date;
    font-size: 12px;
  }

  .Todo__delete-btn {
    background-image: url(../images/delete-icon.svg);
    width: 24px;
    height: 24px;
  }

  .Todo__delete-btn::before {
    content: "";
  }
}
